/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/dm-sans-v11-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/dm-sans-v11-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/dm-sans-v11-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/dm-sans-v11-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/dm-sans-v11-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../../fonts/dm-sans-v11-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



:root {
    /* color styles */
    --primary-text-color: #121212;
    --primary-background-color:#F7F7F7;
    --secondary-background-color:#121212;
    /* font styles */
    --primary-font: 'DM Sans', sans-serif;
    --font-weight-std:400;
    --font-weight-medium:500;
    --font-weight-large:700;
}

body{
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    text-transform: uppercase;
}

.title {
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    }

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    }
.title {
    font-weight: 500;
    font-size: 68px;
    line-height: 1;
    }

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    }

/* mobile style */
@media screen and (max-width: 767px) {
    .section {
    padding-top: 64px;
    padding-bottom: 0px;
    }
    .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    }
}

/* Tablet style */
@media screen and (min-width:768px)
{
    .section {
    padding-top: 80px;
    padding-bottom: 0;
}
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }   
}

/* Desktop style */
@media screen and (min-width:1440px) {
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.container{
    width: 1440px;
}
}
