.button-list-trible-room{
    margin-top: 28px;
    display: flex;
    gap: 12px;
}

/* mobile style */
/* @media screen and (max-width: 767px) {
} */

/* Tablet style */
@media screen and (min-width: 768px) {
    .photo-triple-room-tablet-part1{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 331px;
        justify-content: left;
    }
    .button-list-trible-room{
        margin-top: 40px;
        justify-content: left;
        gap: 14px;
    }
}

/* Desktop style */
@media screen and (min-width: 1440px) {
    .conten-triple-room{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
