<section class="restaur-hero section">
  <div class="restaur-hero-wrap">
    <div class="container restaur-container">
      <h1 class="restaur-hero-title animate__animated animate__fadeIn">
        Restaurant
      </h1>
      <div class="restaur-btn-wrap">
        <button
          class="restaur-hero-btn"
          type="button"
          data-modal-table-second-open
        >
          book a table
        </button>
        <a href="#menu-link" class="restaur-link">View a menu</a>
      </div>
    </div>
    <div class="container-slider">
      <div class="slider-wrap">
        <div id="slider-container" class="restaurant-slider">
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-1.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-1.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-1.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-1.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-2.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-2.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-2.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-2.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-3.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-3.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-3.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-3.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-4.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-4@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-4.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-4.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-4.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-5.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-5@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-5.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-5.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-5@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-5.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
          <div class="restaurant-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/restaurant/hero-rest-desktop-6.jpg    1x,
                  ./img/desktop/restaurant/hero-rest-desktop-6@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/restaurant/hero-rest-tablet-6.jpg    1x,
                  ./img/tablet/restaurant/hero-rest-tablet-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/restaurant/hero-restaurant-6.jpg    1x,
                  ./img/mobil/restaurant/hero-restaurant-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="restaurant-img"
                src="./img/mobil/restaurant/hero-restaurant-6.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="restaur-linear-gradient"></div>
          </div>
        </div>
        <div class="restaur-btn-wrapper">
          <div onclick="prev()" class="slider-btn-first">
            <svg class="icon-left" width="36" height="36">
              <use href="./img/icons.svg#icon-button-2"></use>
            </svg>
          </div>

          <div onclick="next()" class="slider-btn-second">
            <svg class="icon-right" width="36" height="36">
              <use href="./img/icons.svg#icon-button-1"></use>
            </svg>
          </div>
        </div>
        <div class="overlay"></div>

        <div class="restaur-text-wrap">
          <p class="restaur-text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <span class="italic">a romantic dinner</span>, our menu has
            something for everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
