<section class="rest-menu section">
  <div class="rest-menu-container container">
    <a name="menu-link"></a>
    <h2 class="rest-menu-title">Restaurant menu</h2>
    <div class="div-wrap">
      <div class="menu-wrap">
        <div class="menu-hot-meals">
          <h3 class="rest-menu-subtitle">Hot meals</h3>
          <ul class="rest-menu-list">
            <li class="rest-menu-item">
              <div class="rest-menu-unite current">
                <p class="rest-menu-text">Veal borscht with beans</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream
                </p>
                <p class="rest-menu-price">240 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Cheese soup with chicken</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens
                </p>
                <p class="rest-menu-price">200 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Carbonara pasta</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                </p>
                <p class="rest-menu-price">430 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Pork steak</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables
                </p>
                <p class="rest-menu-price">500 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Gorbusha in white wine sauce</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Tender redfish, cream sauce based on white wine
                </p>
                <p class="rest-menu-price">400 UAH</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu-salads">
          <h3 class="rest-menu-subtitle">Salads</h3>
          <ul class="rest-menu-list">
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Caesar with chicken</p>
                <p class="rest-menu-weight">230 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                  croutons, Caesar sauce
                </p>
                <p class="rest-menu-price">450 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Caesar with shrimp</p>
                <p class="rest-menu-weight">230 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce
                </p>
                <p class="rest-menu-price">300 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Greek salad</p>
                <p class="rest-menu-weight">230 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce
                </p>
                <p class="rest-menu-price">280 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Meat salad</p>
                <p class="rest-menu-weight">230 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce
                </p>
                <p class="rest-menu-price">300 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-wraps">
        <div class="menu-side">
          <h3 class="rest-menu-subtitle">Side dishes and snacks</h3>
          <ul class="rest-menu-list">
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Baked vegetables</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Zucchini, pepper, tomato, eggplant
                </p>
                <p class="rest-menu-price">230 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">French fries</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">Potatoes, tomato sauce</p>
                <p class="rest-menu-price">160 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Peasant-style potatoes</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Potatoes, spices, spicy sauces
                </p>
                <p class="rest-menu-price">160 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Crisp pickles from the barrel</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                </p>
                <p class="rest-menu-price">350 UAH</p>
              </div>
            </li>
            <li class="rest-menu-item">
              <div class="rest-menu-unite">
                <p class="rest-menu-text">Chicken wings in honey sauce</p>
                <p class="rest-menu-weight">400 g</p>
              </div>
              <div class="rest-menu-unite">
                <p class="rest-menu-components">
                  Chicken wings, mustard-honey sauce, served with carrots,
                  celery and blue cheese sauce
                </p>
                <p class="rest-menu-price"></p>
              </div>
            </li>
          </ul>
        </div>
        <div class="menu-dessert">
          <div class="desserts">
            <h3 class="rest-menu-subtitle dissert-subtitle">Desserts</h3>
            <ul class="rest-menu-list">
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Napoleon cake</p>
                  <p class="rest-menu-price">200 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Poppy cake</p>
                  <p class="rest-menu-price">300 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Tiramisu</p>
                  <p class="rest-menu-price">260 UAH</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="drinks">
            <h3 class="rest-menu-subtitle">Drinks</h3>
            <ul class="rest-menu-list">
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Black/green tea</p>
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Espresso</p>
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
              <li class="rest-menu-item">
                <div class="flex">
                  <p class="rest-menu-text">Cappuccino</p>
                  <p class="rest-menu-price">100 UAH</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="button" type="button " data-modal-table-third-open>
      book a table
    </button>
  </div>
</section>
