<section class="section section-light">
  <div class="container">
    <div>
      <ul class="photo-double-room-mobile">
        <li>
          <img
            src="./img/mobil/hotel/daubl-hotel-1.jpg"
            srcset="
              ./img/mobil/hotel/daubl-hotel-1.jpg    1x,
              ./img/mobil/hotel/daubl-hotel-1@2x.jpg 2x
            "
            alt="bedroom"
            width=""
          />
        </li>
        <div class="photo-double-room-mobile-part2">
          <li>
            <img
              src="./img/mobil/hotel/daubl-hotel-2.jpg"
              srcset="
                ./img/mobil/hotel/daubl-hotel-2.jpg    1x,
                ./img/mobil/hotel/daubl-hotel-2@2x.jpg 2x
              "
              alt="bathroom"
              width=""
            />
          </li>
          <li>
            <img
              src="./img/mobil/hotel/daubl-hotel-3.jpg"
              srcset="
                ./img/mobil/hotel/daubl-hotel-3.jpg    1x,
                ./img/mobil/hotel/daubl-hotel-3@2x.jpg 2x
              "
              alt="kitchen"
              width=""
            />
          </li>
        </div>
      </ul>
      <ul class="photo-double-room-tablet">
        <div class="photo-double-room-tablet-part1">
          <li>
            <img
              src="./img/tablet/hotel/double-hotel-tablet-1.jpg"
              srcset="
                ./img/tablet/hotel/double-hotel-tablet-1.jpg    1x,
                ./img/tablet/hotel/double-hotel-tablet-1@2x.jpg 2x
              "
              alt="bathroom"
              width=""
            />
          </li>
          <li>
            <img
              src="./img/tablet/hotel/double-hotel-tablet-2.jpg"
              srcset="
                ./img/tablet/hotel/double-hotel-tablet-2.jpg    1x,
                ./img/tablet/hotel/double-hotel-tablet-2@2x.jpg 2x
              "
              alt="kitchen"
              width=""
            />
          </li>
        </div>
        <li>
          <img
            src="./img/tablet/hotel/double-hotel-tablet-3.jpg"
            srcset="
              ./img/tablet/hotel/double-hotel-tablet-3.jpg    1x,
              ./img/tablet/hotel/double-hotel-tablet-3@2x.jpg 2x
            "
            alt="bedroom"
            width="331"
          />
        </li>
      </ul>
      <ul class="photo-double-room-desktop">
        <li>
          <img
            src="./img/desktop/hotel/double-hotel-desktop-1.jpg"
            srcset="
              ./img/desktop/hotel/double-hotel-desktop-1.jpg    1x,
              ./img/desktop/hotel/double-hotel-desktop-1@2x.jpg 2x
            "
            alt="kitchen"
            width=""
          />
        </li>
        <li>
          <img
            src="./img/desktop/hotel/double-hotel-desktop-2.jpg"
            srcset="
              ./img/desktop/hotel/double-hotel-desktop-2.jpg    1x,
              ./img/desktop/hotel/double-hotel-desktop-2@2x.jpg 2x
            "
            alt="bedroom"
            width=""
          />
        </li>
        <li>
          <img
            src="./img/desktop/hotel/double-hotel-desktop-3.jpg"
            srcset="
              ./img/desktop/hotel/double-hotel-desktop-3.jpg    1x,
              ./img/desktop/hotel/double-hotel-desktop-3@2x.jpg 2x
            "
            alt="bathroom"
            width="331"
          />
        </li>
      </ul>
    </div>
    <div class="conten-double-room">
      <div>
        <h2 class="title-section">Double Luxury Room</h2>
        <ul class="text-double-room">
          <li>
            <p class="text-double-room-part1">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li>
            <p class="text-double-room-part2">
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
      </div>
      <ul class="button-list-double-room">
        <li>
          <a class="link-double-room" href="./room_page.html">More details</a>
        </li>
        <li>
          <button
            class="button-double-room"
            type="button"
            data-modal-first-open
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
