<section class="hotel-hero section">
  <div class="hotel-hero-wrap">
    <div class="container hotel-container">
      <h1 class="hotel-hero-title animate__animated animate__fadeIn">hotel</h1>
      <div class="hotel-btn-wrap">
        <button class="hotel-hero-btn" type="button" data-modal-third-room-open>book a room</button>
        <button class="hotel-hero-btn" type="button" data-modal-open>View prices</button>
      </div>
    </div>
    <div class="container-slider">
      <div class="slider-wrap">
        <div id="hotel-slider-container" class="hotel-slider">
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-1.jpg    1x,
                  ./img/desktop/hotel/hero-hotel-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-1.jpg    1x,
                  ./img/tablet/hotel/hero-hotel-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-1.jpg    1x,
                  ./img/mobil/hotel/hero-hotel-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-1.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-2.jpg    1x,
                  ./img/desktop/hotel/hero-hotel-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-2.jpg    1x,
                  ./img/tablet/hotel/hero-hotel-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-2.jpg    1x,
                  ./img/mobil/hotel/hero-hotel-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-2.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-3.jpg 1x,
                  ./img/desktop/hotel/hero-hotel-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-3.jpg 1x,
                  ./img/tablet/hotel/hero-hotel-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-3.jpg 1x,
                  ./img/mobil/hotel/hero-hotel-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-3.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-2.jpg 1x,
                  ./img/desktop/hotel/hero-hotel-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-2.jpg 1x,
                  ./img/tablet/hotel/hero-hotel-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-2.jpg 1x,
                  ./img/mobil/hotel/hero-hotel-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-2.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-1.jpg 1x,
                  ./img/desktop/hotel/hero-hotel-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-1.jpg 1x,
                  ./img/tablet/hotel/hero-hotel-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-1.jpg 1x,
                  ./img/mobil/hotel/hero-hotel-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-1.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
          <div class="hotel-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/hotel/hero-hotel-desktop-3.jpg 1x,
                  ./img/desktop/hotel/hero-hotel-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/hotel/hero-hotel-tablet-3.jpg 1x,
                  ./img/tablet/hotel/hero-hotel-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/hotel/hero-hotel-3.jpg 1x,
                  ./img/mobil/hotel/hero-hotel-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="hotel-img"
                src="./img/mobil/hotel/hero-hotel-6.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="hotel-linear-gradient"></div>
          </div>
        </div>
        <div class="hotel-btn-wrapper">
          <div onclick="prev()" class="slider-btn-first">
            <svg class="icon-left" width="36" height="36">
              <use href="./img/icons.svg#icon-button-2"></use>            </svg>
            </svg>
          </div>
          <div onclick="next()" class="slider-btn-second">
            <svg class="icon-right" width="36" height="36">
              <use href="./img/icons.svg#icon-button-1"></use>
            </svg>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="hotel-text-wrap">
          <p class="hotel-text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <span class="italic">a romantic dinner</span>, our menu has
            something for everyone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
