<section class="section section-light">
  <div class="container">
    <div>
      <ul class="photo-double-room-mobile">
        <li>
          <img
            src="./img/mobil/hotel/triple-hotel-1.jpg"
            srcset="
              ./img/mobil/hotel/triple-hotel-1.jpg    1x,
              ./img/mobil/hotel/triple-hotel-1@2x.jpg 2x
            "
            alt="bedroom"
            width=""
          />
        </li>
        <div class="photo-double-room-mobile-part2">
          <li>
            <img
              src="./img/mobil/hotel/triple-hotel-2.jpg"
              srcset="
                ./img/mobil/hotel/triple-hotel-2.jpg    1x,
                ./img/mobil/hotel/triple-hotel-2@2x.jpg 2x
              "
              alt="bathroom"
              width=""
            />
          </li>
          <li>
            <img
              src="./img/mobil/hotel/triple-hotel-3.jpg"
              srcset="
                ./img/mobil/hotel/triple-hotel-3.jpg    1x,
                ./img/mobil/hotel/triple-hotel-3@2x.jpg 2x
              "
              alt="kitchen"
              width=""
            />
          </li>
        </div>
      </ul>
      <ul class="photo-double-room-tablet">
        <li>
          <img
            src="./img/tablet/hotel/triple-hotel-tablet-1.jpg"
            srcset="
              ./img/tablet/hotel/triple-hotel-tablet-1.jpg    1x,
              ./img/tablet/hotel/triple-hotel-tablet-1@2x.jpg 2x
            "
            alt="bedroom"
            width=""
          />
        </li>
        <div class="photo-triple-room-tablet-part1">
          <li>
            <img
              src="./img/tablet/hotel/triple-hotel-tablet-2.jpg"
              srcset="
                ./img/tablet/hotel/triple-hotel-tablet-2.jpg    1x,
                ./img/tablet/hotel/triple-hotel-tablet-2@2x.jpg 2x
              "
              alt="bathroom"
              width=""
            />
          </li>
          <li>
            <img
              src="./img/tablet/hotel/triple-hotel-tablet-3.jpg"
              srcset="
                ./img/tablet/hotel/triple-hotel-tablet-3.jpg    1x,
                ./img/tablet/hotel/triple-hotel-tablet-3@2x.jpg 2x
              "
              alt="kitchen"
              width="331"
            />
          </li>
        </div>
      </ul>
      <ul class="photo-double-room-desktop">
        <li>
          <img
            src="./img/desktop/hotel/treple-hotel-desktop-1.jpg"
            srcset="
              ./img/desktop/hotel/treple-hotel-desktop-1.jpg    1x,
              ./img/desktop/hotel/treple-hotel-desktop-1@2x.jpg 2x
            "
            alt="kitchen"
            width=""
          />
        </li>
        <li>
          <img
            src="./img/desktop/hotel/treple-hotel-desktop-2.jpg"
            srcset="
              ./img/desktop/hotel/treple-hotel-desktop-2.jpg    1x,
              ./img/desktop/hotel/treple-hotel-desktop-2@2x.jpg 2x
            "
            alt="bedroom"
            width=""
          />
        </li>
        <li>
          <img
            src="./img/desktop/hotel/treple-hotel-desktop-3.jpg"
            srcset="
              ./img/desktop/hotel/treple-hotel-desktop-3.jpg    1x,
              ./img/desktop/hotel/treple-hotel-desktop-3@2x.jpg 2x
            "
            alt="bathroom"
            width="331"
          />
        </li>
      </ul>
    </div>
    <div class="conten-triple-room">
      <div>
        <h2 class="title-section">Triple Room</h2>
        <ul class="text-double-room">
          <li>
            <p class="text-double-room-part1">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </li>
          <li>
            <p class="text-double-room-part2">
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </li>
        </ul>
      </div>
      <ul class="button-list-trible-room">
        <li>
          <a class="link-double-room" href="./room_page.html">More details</a>
        </li>
        <li>
          <button
            class="button-double-room"
            type="button"
            data-modal-second-open
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
