.title-welcome {
  font-weight: var(--font-weight-medium);
  font-size: 32px;
  line-height: 1.12;
  color: #000000;
  margin-bottom: 32px;
}

.list-welcome {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.text-welcome {
  color: #000000;
}
.imag-welcome {
  width: 100%;
}
/* mobile style */
@media screen and (max-width: 767px) {
    .section-welcome{
    padding-bottom: 64px;
  }
  .imag-welcome {
    width: 100%;
  }
}

/* Tablet style */
@media screen and (min-width: 768px) {
  .section-welcome{
    padding-bottom: 80px;
  }
  .list-welcome {
    flex-direction: row;
  }
  .title-welcome {
    display: block;
    max-width: 412px;
  }
}

/* Desktop style */
@media screen and (min-width: 1440px) {
  .section-welcome{
    padding-bottom: 100px;
  }
  .container-welcome {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    align-items: flex-start;
  }

  .container-welcome-wrap {
    display: flex;
    flex-direction: column;
    width: calc((100%-32px) / 2);
  }

  .title-welcome {
    margin-bottom: 310px;
  }

  .list-welcome {
    flex-direction: column;
    justify-content: end;
    margin-bottom: 0;
  }
  .item-welcome {
    max-width: 434px;
  }
  .imag-welcome {
    width: auto;
    height: 599px;
  }
}
