<section class="room-hero section">
  <div class="room-hero-wrap">
    <div class="container room-container">
      <h1 class="room-hero-title animate__animated animate__fadeIn">
        Double <span class="italic">luxury</span> room
      </h1>
      <button class="room-hero-btn" type="button" data-modal-fourth-open>
        View prices
      </button>
    </div>
    <div class="room-container-slider">
      <div class="room-slider-wrap">
        <div id="room-slider-container" class="room-slider">
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-1.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-1@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-1.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-1.jpg    1x,
                  ./img/mobil/room/hero-room-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-1.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-2.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-2@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-2.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-2.jpg    1x,
                  ./img/mobil/room/hero-room-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-2.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-3.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-3@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-3.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-3.jpg    1x,
                  ./img/mobil/room/hero-room-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-3.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-4.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-4@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-4.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-4.jpg    1x,
                  ./img/mobil/room/hero-room-4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-4.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-5.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-5@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-5.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-5.jpg    1x,
                  ./img/mobil/room/hero-room-5@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-5.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
          <div class="room-img-item">
            <picture>
              <source
                srcset="
                  ./img/desktop/room/hero-room-desktop-6.jpg    1x,
                  ./img/desktop/room/hero-room-desktop-6@2x.jpg 2x
                "
                media="(min-width: 1440px)"
                width="436"
              />
              <source
                srcset="
                  ./img/tablet/room/hero-room-tablet-6.jpg    1x,
                  ./img/tablet/room/hero-room-tablet-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="436"
              />
              <source
                srcset="
                  ./img/mobil/room/hero-room-6.jpg    1x,
                  ./img/mobil/room/hero-room-6@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="250"
              />
              <img
                class="room-img"
                src="/src/img/mobil/room/hero-room-6.jpg"
                alt="Dishes"
                width="250"
              />
            </picture>
            <div class="room-linear-gradient"></div>
          </div>
        </div>
        <div class="room-btn-wrapper">
          <div onclick="prev()" class="room-slider-btn-first">
            <svg class="icon-left" width="36" height="36">
              <use href="./img/icons.svg#icon-button-2"></use>
            </svg>
          </div>

          <div onclick="next()" class="room-slider-btn-second">
            <svg class="icon-right" width="36" height="36">
              <use href="./img/icons.svg#icon-button-1"></use>
            </svg>
          </div>
        </div>
        <div class="overlay"></div>

        <div class="room-text-wrap">
          <p class="room-text">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
