<section class="about section">
  <div class="container">
    <h2 class="visually-hidden">About a complex</h2>
    <div class="about-first-box">
      <div class="about-first-box-wrap">
        <div class="thumb-first">
          <picture>
            <source
              srcset="
                ./img/tablet/home/about-home-1.jpg    1x,
                ./img/tablet/home/about-home-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="482"
            />
            <source
              srcset="
                ./img/mobil/home/about--mobil-1.jpg   1x,
                ./img/mobil/home/about-mobil-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
            />
            <img
              class="img-first-mob"
              src="./img/mobil/home/about--mobil-1.jpg"
              alt="Hotel room"
              width="335"
            />
          </picture>
        </div>
        <div class="about-feedback-first">
          <div class="about-img-critic">
            <img
              srcset="
                ./img/mobil/home/critic-1.jpg    1x,
                ./img/mobil/home/critic-1@2x.jpg 2x
              "
              src="./img/mobil/home/critic-1.jpg"
              alt="Maria Crirtic"
              width="41"
            />
          </div>
          <div class="critic-text-wrap">
            <p class="critic-name title">Maria</p>
            <p class="critic-rating text">give rating <span>4.5</span></p>
          </div>
        </div>

        <div class="thumb-second">
          <picture>
            <source
              srcset="
                ./img/desktop/home/about-home-desktop-2.jpg    1x,
                ./img/desktop/home/about-home-desktop-2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="439"
            />

            <source
              srcset="
                ./img/tablet/home/about-home-2.jpg    1x,
                ./img/tablet/home/about-home-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="404"
            />
            <source
              srcset="
                ./img/mobil/home/about-mobil-2.jpg    1x,
                ./img/mobil/home/about-mobil-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="282"
            />
            <img
              class="img-second-mob"
              src="./img/mobil/home/about-mobil-2.jpg"
              alt="Bathroom"
              width="282"
            />
          </picture>
        </div>
      </div>

      <div class="about-text-wrap">
        <p class="about-subtext">restaurant-hotel complex</p>
        <p class="about-text first text">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="about-text second text">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>

    <div class="about-second-box">
      <div class="about-second-box-wrap">
        <div class="about-second-wrap">
          <div class="thumb-third">
            <picture>
              <source
                srcset="
                  ./img/tablet/home/about-home-3.jpg    1x,
                  ./img/tablet/home/about-home-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="530"
              />
              <source
                srcset="
                  ./img/mobil/home/about-mobil-3.jpg    1x,
                  ./img/mobil/home/about-mobil-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="335"
              />
              <img
                class="img-fourth-mob"
                src="./img/mobil/home/about-mobil-3.jpg"
                alt="Restaurant interior"
                width="335"
              />
            </picture>
          </div>
          <div class="about-feedback-second">
            <div class="about-img-critic">
              <img
                srcset="
                  ./img/mobil/home/critic-2.jpg    1x,
                  ./img/mobil/home/critic-2@2x.jpg 2x
                "
                src="./img/mobil/home/critic-2.jpg"
                alt="Alexandr Crirtic"
                width="41"
              />
            </div>
            <div class="critic-text-wrap">
              <p class="critic-name title">Alexander</p>
              <p class="critic-rating">give rating <span>5.5</span></p>
            </div>
          </div>
        </div>
        <div class="text-img-wrap">
          <div class="text-wrap">
            <p class="about-subtext">business class hotel</p>
            <p class="about-text third text">
              The Mimino hotel features spacious and stylish double luxury rooms
              with modern amenities for a comfortable stay.
            </p>
          </div>

          <div class="thumb-fourth">
            <picture>
              <source
                srcset="
                  ./img/tablet/home/about-home-4.jpg    1x,
                  ./img/tablet/home/about-home-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="266"
              />
              <source
                srcset="
                  ./img/mobil/home/about-mobil-4.jpg    1x,
                  ./img/mobil/home/about-mobil-4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="335"
              />
              <img
                class="img-fourth-mob"
                src="./img/mobil/home/about-mobil-4.jpg"
                alt="Restaurant interior"
                width="335"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
