<section class="hero-main">
  <div class="container container-hero">
    <div class="hero-image">
      <h1 class="hero-title animate__animated animate__fadeIn">MIMINO</h1>

      <div class="hero-desktop-wrap">
        <div class="hero-description desktop">
          <p>
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            <span class="text-italic">a romantic dinner,</span> our menu has
            something for everyone.
          </p>
          <p>
            At Hotel Mimino, <span class="text-italic">we believe</span> that
            great food should be available to everyone, no matter the time of
            day.
          </p>
        </div>

        <div class="hero-btn">
          <button class="hero-btn-black" data-modal-room-open type="button">
            BOOK A ROOM
          </button>
          <button class="hero-btn-black" data-modal-table-open type="button">
            BOOK A TABLE
          </button>
        </div>
      </div>
    </div>
    <div class="hero-description not-desktop">
      <p>
        Whether you're in the mood for a hearty breakfast, a light lunch, or
        <span class="text-italic">a romantic dinner,</span> our menu has
        something for everyone.
      </p>
      <p>
        At Hotel Mimino, <span class="text-italic">we believe</span> that great
        food should be available to everyone, no matter the time of day.
      </p>
    </div>
  </div>
</section>
