  <section class="section">
            <div class="container container-location">
                <h2 class="location-title">location</h2>
                <div class="map-container">
                    <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.4797434721686!2d34.52593827977683!3d49.5992774090255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sca!4v1677343239430!5m2!1sen!2sca" style="border:0;" allowfullscreen="" title="Iframe Example" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <address class="location-addres">
                    <p class="location-main-address">Ukraine, Poltava,<br/>
                        St. Marshal Biryuzov, 15</p>
                        
                        <div class="location-tel-wrap">
                            <p class="location-text">call us:</p>
                            <ul class="list ">
                                <li><a class="location-tel link" href="tel:(095)5559533">(095) 555 95 33</a></li>
                                <li><a class="location-tel link" href="tel:(066)8491089">(066) 849 10 89</a></li>
                            </ul>
                        </div>
                        
                </address>
            </div>
        </section>