<section class="restaurants-details section">
  <div class="container container-relative">
    <div class="restourants-text-box">
      <h2 class="restaurants-details-title title">Restaurant</h2>
      <p class="restaurants-details-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="restaurants-details-list">
      <li class="restaurants-details-item">
        <picture>
          <source
            srcset="
              ./img/mobil/home/restaurant/home-mobil-restorant1.jpg    1x,
              ./img/mobil/home/restaurant/home-mobil-restorant1@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
            sizes="(min-width: 375px) 375px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/tablet/home/restaurant/home-tablet-rest-1.jpg    1x,
              ./img/tablet/home/restaurant/home-tablet-rest-1@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
            width="336"
            height="309"
            sizes="(min-width: 768px) 768px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-1.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
            sizes="(min-width: 1440px) 1440px, 100vw"
            type="image/jpg"
          />
          <img
            src="./img/mobil/home/restaurant/home-mobil-restorant1.jpg"
            alt="coctail"
            width="157"
          />
        </picture>
      </li>
      <li class="restaurants-details-item none">
        <picture>
          <source
            srcset="
              ./img/mobil/home/restaurant/home-mobil-restorant2.jpg    1x,
              ./img/mobil/home/restaurant/home-mobil-restorant2@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="417"
            sizes="(min-width: 375px) 375px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/tablet/home/restaurant/home-tablet-rest-2.jpg    1x,
              ./img/tablet/home/restaurant/home-tablet-rest-2@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
            width="336"
            height="309"
            sizes="(min-width: 768px) 768px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-2.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
            sizes="(min-width: 1440px) 1440px, 100vw"
            type="image/jpg"
          />
          <img
            src="./img/mobil/home/restaurant/home-mobil-restorant2.jpg"
            alt="barman"
            width="157"
          />
        </picture>
      </li>
      <li class="restaurants-details-item none">
        <picture>
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-3.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
            sizes="(min-width: 375px) 375px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-3.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-3@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
            width="336"
            height="309"
            sizes="(min-width: 768px) 768px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-3.jpg,
              ./img/desktop/home/restaurant/hom-res-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
            sizes="(min-width: 1440px) 1440px, 100vw"
            type="image/jpg"
          />
          <img
            src="./img/desktop/home/restaurant/hom-res-3.jpg"
            alt="coctail"
            width="266"
            height="309"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/mobil/home/restaurant/home-mobil-restorant2.jpg    1x,
              ./img/mobil/home/restaurant/home-mobil-restorant2@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
            sizes="(min-width: 375px) 375px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/tablet/home/restaurant/home-tablet-rest-2.jpg    1x,
              ./img/tablet/home/restaurant/home-tablet-rest-2@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
            width="336"
            height="309"
            sizes="(min-width: 768px) 768px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-4.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
            sizes="(min-width: 1440px) 1440px, 100vw"
            type="image/jpg"
          />
          <img
            src="./img/mobil/home/restaurant/home-mobil-restorant2.jpg"
            alt="coctail"
            width="157"
          />
        </picture>
      </li>
      <li class="restaurants-details-item none">
        <picture>
          <source
            srcset="
              ./img/mobil/home/restaurant/home-mobil-restorant5.jpg    1x,
              ./img/mobil/home/restaurant/home-mobil-restorant5@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="157"
            height="201"
            sizes="(min-width: 375px) 375px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/tablet/home/restaurant/home-tablet-rest-5.jpg    1x,
              ./img/tablet/home/restaurant/home-tablet-rest-5@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
            width="336"
            height="309"
            sizes="(min-width: 768px) 768px, 100vw"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/desktop/home/restaurant/hom-res-5.jpg    1x,
              ./img/desktop/home/restaurant/hom-res-5@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            width="266"
            height="309"
            sizes="(min-width: 1440px) 1440px, 100vw"
            type="image/jpg"
          />
          <img
            src="./img/desktop/home/restaurant/hom-res-5.jpg"
            alt="coctail"
            width="157"
          />
        </picture>
      </li>
    </ul>
    <ul class="restourant-details-buttons-list">
      <li class="restourant-details-buttons-item-btn">
        <button
          type="button"
          class="restaurants-details-modal-btn"
          data-modal-table-first-open
        >
          Book a table
        </button>
      </li>
      <li class="restourant-details-buttons-item-link">
        <a
          href="./restaurant_page.html#menu-link"
          class="restaurants-details-link"
          >View the menu</a
        >
      </li>
    </ul>
  </div>
</section>
