<div class="backdrop is-hidden" data-modal-first>
  <div class="prices-mw">
    <button type="button" class="close-btn" data-modal-first-close>
      <svg class="close-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close-window"></use>
      </svg>
    </button>
    <h2 class="prices-mw-title">Prices per room</h2>
    <p class="prices-mw-suptitle">Double suite</p>
    <div class="form-wrap">
      <form class="first-form">
        <select class="mw-select" name="numbers-of-nights">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <span class="prices-mw-text">Number of nights</span>
      </form>
      <form class="seconf-form">
        <select class="mw-select-second" name="check-in-date">
          <option value="25/04/2023">25/04/2023</option>
          <option value="26/04/2023">26/04/2023</option>
          <option value="27/04/2023">27/04/2023</option>
          <option value="28/04/2023">28/04/2023</option>
          <option value="29/04/2023">29/04/2023</option>
          <option value="30/04/2023">30/04/2023</option>
          <option value="31/04/2023">31/04/2023</option>
        </select>
        <span class="prices-mw-text">Check-in date</span>
      </form>
      <form class="third-form">
        <input class="mw-input" type="number" name="price" />
        <span class="prices-mw-text">UAH</span>
      </form>
    </div>
    <button class="mw-button" type="submit">MAKE A RESERVATION</button>
  </div>
</div>
